---
import { marked } from 'marked';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { BlogPost, contentfulClient } from '../../lib/contentful';

let post;
const { slug } = Astro.params;
try {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
    "fields.slug": slug,
  });
	const { title, tags, body,  publishDate, description, heroImage } = items[0].fields;
	post = {
		title,
		tags,
		content: marked.parse(body),
		description,
		heroImage: heroImage.fields,
		date: new Date(publishDate).toLocaleDateString()
	}

} catch (e) {
	return Astro.redirect('/404');
}

---
<BaseLayout title={post?.title} description={post?.description}>
	<div class="stack gap-20 blog-detail">
		<div class="stack gap-15">
			<header>
				<div class="wrapper stack gap-2">
					<a class="back-link" href="/blog/"><Icon icon="arrow-left" />博客列表</a>
					<Hero title={post?.title} align="start">
						<div class="details">
							<p class="description">{post?.description}</p>
						</div>
					</Hero>
				</div>
			</header>
			<main class="wrapper">
				<div class="stack gap-10 content">
					{post?.heroImage && <img src={post?.heroImage.file.url} alt={post?.heroImage.title || ''} />}
					<article set:html={post?.content} />
				</div>
			</main>
		</div>
		<ContactCTA />
	</div>
</BaseLayout>

<style lang="scss">
.blog-detail {
	color: var(--gray-0);
}
.content {
	img {
		margin: auto;
		width: 50%;
		border-radius: 4px;
	}
}
</style>
