---
import { marked } from 'marked';

import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { BlogPost, contentfulClient } from '../../lib/contentful';

export const prerender = true;

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: 'blogPost'
  })
	return items.map(item => ({
			params: { slug: item.fields.slug },
			props: {
				tags: item.fields.tags,
				title: item.fields.title,
				content: marked.parse(item.fields.body),
				description: item.fields.description,
				heroImage: item.fields.heroImage.fields,
				date: new Date(item.fields.publishDate).toLocaleDateString()
			}
	}))
}
const { title, content, date, description, heroImage } = Astro.props;
Astro.response.headers.set('Cache-Control', 's-maxage=86400, stale-while-revalidate=604800');
// let post;
// const { slug } = Astro.params;
// try {
//   const { items } = await contentfulClient.getEntries<BlogPost>({
//     content_type: "blogPost",
//     "fields.slug": slug,
//   });
// 	const { title, tags, body,  publishDate, description, heroImage } = items[0].fields;
// 	post = {
// 		title,
// 		tags,
// 		content: marked.parse(body),
// 		description,
// 		heroImage: heroImage.fields,
// 		date: new Date(publishDate).toLocaleDateString()
// 	}

// } catch (e) {
// 	return Astro.redirect('/404');
// }

---
<BaseLayout title={title} description={description}>
	<div class="stack gap-20 blog-detail">
		<div class="stack gap-15">
			<header>
				<div class="wrapper stack gap-2">
					<a class="back-link" href="/blog/"><Icon icon="arrow-left" />博客列表</a>
					<Hero title={title} align="start">
						<div class="details">
							<p class="description">{description}</p>
						</div>
					</Hero>
				</div>
			</header>
			<main class="wrapper">
				<div class="stack gap-10 content">
					{heroImage && <img src={heroImage.file.url} alt={heroImage.title || ''} />}
					<article set:html={content} />
				</div>
			</main>
		</div>
		<ContactCTA />
	</div>
</BaseLayout>

<style lang="scss">
.blog-detail {
	color: var(--gray-0);
}
.content {
	img {
		margin: auto;
		width: 50%;
		border-radius: 4px;
	}
}
</style>
