---
import * as DOMPurify from 'isomorphic-dompurify';
import marked from '../../lib/marked';

import ContactCTA from '@components/ContactCTA.astro';
import Hero from '@components/Hero.astro';
import Icon from '@components/Icon.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { BlogPost } from '@lib/contentful';
import { contentfulClient } from '@lib/contentful';

interface Props {
	title: string;
	content: string;
	date: string;
	description: string;
	heroImage?: {
		file: {
			url: string;
		};
		title: string;
	};
}

export const prerender = true;

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<BlogPost>({
    content_type: 'blogPost'
  });

  const paths = await Promise.all(items.map(async (item) => {
    const sanitizedContent = DOMPurify.sanitize(await marked.parse(String(item.fields.body)));

		const heroImage = item.fields.heroImage
      ? (item.fields.heroImage as { fields: { title: string; file: { url: string } } }).fields
      : null;

    return {
      params: { slug: item.fields.slug },
      props: {
        tags: item.fields.tags,
        title: item.fields.title,
        content: sanitizedContent,
        description: item.fields.description,
        heroImage,
        date: new Date(item.fields.publishDate).toLocaleDateString()
      }
    };
  }));

  return paths;
}
const { title, content, date, description, heroImage } = Astro.props;
Astro.response.headers.set('Cache-Control', 's-maxage=86400, stale-while-revalidate=604800');
---
<BaseLayout title={title} description={description}>
	<div class="stack gap-20 blog-detail">
		<div class="stack gap-15">
			<header>
				<div class="wrapper stack gap-2">
					<a class="back-link" href="/blog/"><Icon icon="arrow-left" /><span class="back-text">博客列表</span></a>
					<Hero title={title} align="start">
						<div class="details">
							<p class="description">{description}</p>
						</div>
					</Hero>
				</div>
			</header>
			<main class="wrapper">
				<div class="stack gap-10 content">
					{heroImage && <img src={heroImage.file.url} alt={heroImage.title || ''} />}
					<article set:html={content} />
				</div>
			</main>
		</div>
		<ContactCTA />
	</div>
</BaseLayout>

<style lang="scss">
.blog-detail {
	color: var(--gray-0);
}
.content {
	img {
		margin: auto;
		width: 50%;
		border-radius: 4px;
	}
}

.back-link {
	color: var(--gray-0);
	font-size: var(--text-lg);
	margin-bottom: 20px;
	.back-text {
		margin-left: 5px;
	}
}

.description {
	display: inline-block;
	background: var(--gray-box-bg);
	color: var(--gray-dark);
	padding: 8px 16px;
	font-size: var(--text-md);
	border-radius: 4px;
}
</style>
